body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Univers Light Condensed', sans-serif;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.success-message {
    color: #333;
    font-size: 16px;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Univers Light Condensed', sans-serif;
    font-size: 16px;
    color: #333;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    font-size: 18px;
    color: #fff;
    background-color: #000;
    padding: 10px 30px;
    border: solid #000 2px;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
    border-radius: 50px 0px 0px 50px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #c8102e;
    border: solid #c8102e 2px;
    color: #ffffff;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #c8102e;
}

.form-group {
    margin-bottom: 15px;
}
